.app {
  text-align: center;
  background-color: rgb(196, 239, 240);
  margin: 0px;
  padding: 0px;
}
.app_input {
  margin-top: 10px;
}
.app_input_message {
  display: flex;
  position: absolute;
  bottom: 0px;
}
#message {
  padding-left: 10px;
  width: 90vw;
  height: 50px;
  font-size: 30px;
}

#name {
  padding-left: 10px;
  width: 50vw;
  height: 50px;
  font-size: 30px;
}
#id {
  padding-left: 10px;
  width: 50vw;
  height: 50px;
  font-size: 30px;
}
.app_info {
  display: flex;
}
.displayMessage {
  margin: 10px;
  font-size: 30px;
  text-align: start;
  padding: 10px;
}
.displayMessage_message {
  border: solid;
  padding: 10px;
  border-radius: 20px;

  width: 40vw;
  color: white;
}
.displayMessage_name {
  font-size: 20px;
  color: rgb(80, 80, 80);
}
.displayMessage_date {
  font-size: 16px;
  color: rgb(80, 80, 80);
}
.display {
  height: 58vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
